*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.background{
    background-image: url(./../../../assets/img/TresEnRayaBackground.jpg);
    background-size: cover;

}

.contenedor-juego{
    height:100vh;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    text-align: center;

}

.juego-titulo, .juego-info{
    text-align: center;
}

.juego-cuadricula{
   
    display: grid;
    grid-template-columns: auto auto auto;
    gap:0;
}

.cuadro{
    width:9rem;
    height: 9rem;
    border: 5px solid rgb(168, 168, 168);
    text-align: center;
    font-size: 75px;
    color:rgb(7, 255, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: background-color ease-in 0.2s;
}

.cuadro:hover{
   
    background-color:#cccc;
    
}

.container-xl{
    display: inline-flex;
    

}
.container-xl div{
margin-inline: 10px;   
font-size: large; 

}

.juego-boton{
    display:inline-flex;
    border-radius: 4px;
    padding: 1rem 1rem;
    background:red ;
    color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition:color ease-out 0.3s;
   
}

.juego-boton:hover{
  
    background:white ;
    color: red;
    border: 1px solid red;
   
}