.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 410px;
    width: 200px;
    align-items: center;
    background-color: transparent;
  }
  
  .card .card-img-top {
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-img-top {
    opacity: 0.3;
  }
  
  .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    align-items: center;
    
  }
  
  .card:hover .card-body {
    opacity: 1;
  }
  
  .card-title,
  .card-text {
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .card-img-top{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100%; 
    width: 100%; 
    margin: 15px 15px 15px 15px;
  }

  .inicio{
    align-items: center;
    display: flex;
  }

  #exp{
    background-color: blue;
    font-weight: bold;
    font-size: large;
    color: white;
    align-items: center;
  }
 
  