.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: grey;
    text-shadow: none;
  }
  
  .container div{
    color: grey;
    text-shadow: none;
  }
  .container h5{
    color: grey;
    text-shadow: none;
    font-weight: bold;
  }
  .container p{
    color: grey;
    text-shadow: none;
  }